/*/
.steampid
.steampath

# config
!.config/
.config/*
!.config/ack/
!.config/alacritty
!.config/aliasrc
!.config/awesome/
!.config/backup
!.config/betterlockscreenrc
!.config/bookmarkrc
!.config/cleanup
!.config/clipit/
!.config/colorls/
!.config/copyq/
.config/copyq/*
!.config/copyq/copyq.conf
!.config/copyq/themes
!.config/Dharkael/
!.config/dircolors
!.config/dmenu/
!.config/docker/
!.config/doom/
!.config/dunstrc/
!.config/emacs
.config/emacs/*
!.config/emacs/init.el
!.config/env
!.config/flameshot/
!.config/flashfocus/
!.config/fontconfig/
!.config/gh/
!.config/gh/config.yml
.config/gh/hosts.yml
!.config/git/
!.config/gtk-2.0/
.config/gtk-2.0/gtkfilechooser.ini
!.config/gtk-2.0/gtkrc-2.0
!.config/gtk-3.0/
!.config/htop/
!.config/hyper
.config/hyper/.hyper_plugins
!.config/i3/
!.config/inputrc
!.config/Kvantum/
!.config/mimeapps.list
!.config/moc/
.config/moc/softmixer
.config/moc/playlist.m3u
.config/moc/pid
.config/moc/last_directory
.config/moc/equalizer
!.config/morc_menu/
!.config/neofetch/
!.config/nitrogen/
!.config/npm/
!.config/nvim/
!.config/pacmanfm/
!.config/pass-git-helper/
!.config/persepolis_download_manager/persepolis.conf
!.config/picom/
!.config/polybar/
!.config/ranger/
!.config/rofi/
!.config/termite/
!.config/tmux/
.config/tmux/plugins
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/vlc/vlcrc
!.config/wget/
!.config/X11/
!.config/zathura/
!.config/zsh/

# local
!.local/
.local/*
!.local/bin/
.local/bin/applications/
.local/bin/automations/
!.local/share/
.local/share/*
!.local/share/conky/
!.local/share/rewire/
!.local/share/nemo/
!.local/share/fonts/fonts.conf
!.local/share/gnupg
.local/share/gnupg/*
!.local/share/gnupg/gpg-agent.conf

# .ssh
!.ssh/
.ssh/*
!.ssh/config
# global patterns

.zcompdump*
**/Cache/
**/GPUCache/
**/CachedData/
**/logs/
**/Trash/
**/node_modules/
**/__pycache__/
