/*/
!.config/
!.local/


# exceptions
.Xauthority
.bash_history
.wakatime.log
.wakatime.db
.wakatime.cfg

.config/Hardcode-Tray/
.config/Mousepad/
.config/chromium/
.config/coc/
.config/configstore/
.config/persepolis_donwload_manager/
.config/pulse/

.config/BraveSoftware/Brave-Browser/
.config/GIMP/
.config/GitKraken/
.config/Code/
.config/VSCodium/
.config/discord/
.config/balena-etcher-electron/
.config/gatsby/
.config/redily/
.config/skypeforlinux/
.config/Hardcode/
.config/marktext/

.local/share/TelegramDesktop/
.local/share/skypeforlinux/
.local/share/gvfs-metadata/
.local/share/nvim/
.local/share/xorg/
.local/share/clipit/
.local/share/application/

# global patterns

**/Cache/
**/GPUCache/
**/CachedData/
**/logs/
**/Trash/
**/node_modules/

