/*/

# config
!.config/
.config/*
!.config/ack/
!.config/clipit/
!.config/colorls/
!.config/Dharkael/
!.config/dmenu/
!.config/docker/
!.config/dunstrc/
!.config/flashfocus/
!.config/fontconfig/
!.config/gh/config.yml
!.config/gtk-2.0/gtkrc-2.0
!.config/gtk-3.0/
!.config/htop/
!.config/hyper/.hyper.js
!.config/i3/
!.config/Kvantum/
!.config/moc/themes/
!.config/moc/config
!.config/moc/vim_keymap
!.config/morc_menu/
!.config/neofetch/
!.config/nitrogen/
!.config/npm/
!.config/nvim/
!.config/pacmanfm/
!.config/persepolis_download_manager/persepolis.conf
!.config/picom/
!.config/polybar/
!.config/ranger/
!.config/termite/
!.config/tmux/tmux.conf
!.config/vlc/vlcrc
!.config/wget/
!.config/X11/
!.config/zsh/
!.config/aliasrc
!.config/betterlockscreenrc
!.config/dircolors
!.config/env
!.config/inputrc
!.config/mimeapps.list
!.config/shortcuts
!.config/user-dirs.dirs
!.config/user-dirs.locale

# local
!.local/
.local/*
!.local/bin/
.local/bin/applications/
!.local/share/applications/
!.local/conky/
!.local/nemo/actions/
!.local/nemo/scripts/
!.local/share/fonts/fonts.conf

# global patterns

.zcompdump*
**/Cache/
**/GPUCache/
**/CachedData/
**/logs/
**/Trash/
**/node_modules/

