* {
    background:     #131313;
    background-alt: #212121 ;
    foreground:     #C0CAF5;
    selected:       #ECD3A0;
    active:         #414868;
    urgent:         #ECD3A0;
    error:          #EF5A42;
    radius:         10px;
}
